
body {
  margin: 0px;
}

/* Nav */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/misc/nav-space.png");
  height: 120px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav > a {
  display: flex;
  justify-content: center;
}

nav img {
  margin-bottom: 10px;
  margin-right: 30px;
  width: 21%;
}

/* Index Page */

.main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20%;
}

.main-menu > div {
  margin: 7%;
}

.main-menu h1 {
  text-decoration: none;
}

.main-menu a {
  text-decoration: none;
  color: black;
}

.main-menu a:hover {
  color: lightblue;
}

/* Region Title */

.region-title {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

.region-title img{
  width: 30%;
}

/* Breaker */

.breaker > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17px;
  width: 4%;
}

/* Region Paragraphs */

.flex-introparas {
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  margin-left: 530px;
  margin-right: 515px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-one {
  width: 180%;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-one p {
  text-align: justify;
  margin-top: 0px;
}

#intropara-two {
  width: 180%;
  margin-left: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-two p {
  text-align: justify;
  margin-top: 0px;
}

/* KEY */

.full-key {
  margin-top: 70px;
  margin-bottom: 180px;
}

.full-key p {
  margin-bottom: 0px;
}

.full-key > h1 {
  font-family: brandon-grotesque, sans-serif;
  font-size: 250%;
  font-weight: 1000;
  text-align: center;
  margin-bottom: 8px;
}

.flex-key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  text-align: justify;
  margin-left: 460px;
  margin-right: 460px;
}

.first-group {
  display: flex;
}

.second-group {
  display: flex;
}

.third-group {
  display: flex;
}
 
#key {
  margin: 15px;
}

#key-note {
  margin: 15px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 0px;
}

#key-note > p {
  margin-top: 2px;
}

.third-group {
  display: flex;
  justify-content: center;
}

#key-note > h3 {
  font-family: brandon-grotesque, sans-serif;
  margin-bottom: 0px;
}

/* Img Before List */

.b4list {
  display: flex;
  justify-content: center;
}

.b4list > img {
  width: 5%;
  height: 5%;
}

/* List of worlds */

.list-worlds {
    display: block;
    color: #222A36;
    margin-top: 180px;
}

.list-worlds > div {
    justify-content: center;
    align-items: center;
    margin-top: 115px;
    margin-bottom: 115px;
}

.close > div {
    justify-content: center;
    align-items: center;
    margin-top: 115px;
    margin-bottom: 115px;
}

.part-1 > div {
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-bottom: 115px;
}

.part-2 > div {
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-bottom: 115px;
}

.part-3 > div {
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-bottom: 115px;
}

#list-worlds-lit {
  margin-bottom: 45px;
}

#list-worlds-last {
  margin-bottom: 110px;
}

.list-worlds h1 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 600;
    font-size: 45px;
    margin: 3px;
    text-align: center;
}

.list-worlds h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 770;
    font-size: 17px;
    margin: 0px;
    text-align: center;
}

/* Paragraphs within List of Worlds */

.world-paragraph {
    display: flex;
    justify-content: center;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-weight: 359;
    font-size: 15px;
    margin: 0px;
    margin-top: 3.5px;
}

.world-paragraph p {
    text-align: justify;
    margin-bottom: 0px;
}

#first-paragraph {
    width: 120px;
    margin: 0px;
    margin-right: 10px;
}

#first-paragraph-2 {
    width: 140px;
    margin: 0px;
    margin-right: 10px;
}

#first-paragraph-3 {
    width: 130px;
    margin: 0px;
    margin-right: 10px;
}

#first-paragraph-4 {
  width: 150px;
  margin: 0px;
  margin-right: 10px;
}

#first-paragraph-5 {
  width: 200px;
  margin: 0px;
  margin-right: 10px;
}

#first-paragraph-6 {
  width: 160px;
  margin: 0px;
  margin-right: 10px;
}

#second-paragraph {
    margin: 0px;
    width: 120px;
    margin-left: 10px;
}

#second-paragraph-2 {
    margin: 0px;
    width: 140px;
    margin-left: 10px;
}

#second-paragraph-3 {
  width: 130px;
  margin: 0px;
  margin-left: 10px;
}

#second-paragraph-4 {
  width: 150px;
  margin: 0px;
  margin-left: 10px;
}

#second-paragraph-5 {
  width: 200px;
  margin: 0px;
  margin-left: 10px;
}

#second-paragraph-6 {
  width: 160px;
  margin: 0px;
  margin-left: 10px;
}

#only-paragraph {
  width: 140px;
  margin: 0px;
}

#only-paragraph-2 {
  width: 120px;
  margin: 0px;
}

#only-paragraph-3 {
  width: 150px;
  margin: 0px;
}

#only-paragraph-4 {
  width: 180px;
  margin: 0px;
}

#only-paragraph-5 {
  width: 200px;
  margin: 0px;
}

#ru {
  margin-top: 3px;
}

#source {
   line-height: 1.5;
}

#source p {
  margin-top: 8px;
  font-size: 10px;
  font-family: futura-pt, sans-serif;
  font-weight: 150;
}

#source a {
  text-decoration: none;
  color: blue;
}

/* Lit Logo */

#lit-logo p{
    font-family: charcuterie-ornaments, sans-serif;
    font-weight: 370;
    font-size: 23px;
    margin-top: 3px;
    margin-bottom: 0px;
    text-align: center;
}

#lit-logo-morespace img {
  display: block;
  width: 32px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#lit-logo2 img {    /* for lit-logo2.png */
  display: block;
  width: 32px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}

#lit-logo3 img {   /* for lit-logo3.png */
  display: block;
  width: 32px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}

/* Lit Flex */

.lit-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}

#lit-flex-spacarond > #lit-logo img {
  margin-top: 3px;
}

#lit-flex-spacarond-underimg > img {
  margin-top: 0px;
}

#lit-flex-spacarond {
  display: flex;
  flex-direction: row;
  width: 80px;
  justify-content: space-around;
}

#lit-flex-spacarond-underimg {
  display: flex;
  flex-direction: row;
  width: 80px;
  justify-content: space-around;
}

#lit-flex-spacarond-underimg2 {
  display: flex;
  flex-direction: row;
  width: 140px;
  justify-content: space-around;
}

/* Alderaan image */

.img-alderaan {
  position: relative;
  text-align: center;
}

.img-alderaan h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-alderaan h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-alderaan img {
    border-radius: 7px;
    width: 58%;
}

/* Anaxes (Vandor) image */

.img-anaxes {
    position: relative;
    text-align: center;
  }

.img-anaxes h1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-anaxes h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-anaxes img {
      border-radius: 7px;
      width: 58%;
  }

/* Corellia (Wasskah) image */

.img-corellia {
    position: relative;
    text-align: center;
  }
  
  .img-corellia h1 {
    position: absolute;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
  }
  
  .img-corellia h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-corellia img {
      border-radius: 7px;
      width: 58%;
  }

  .img-corellia2 {
    position: relative;
    text-align: center;
  }
  
  .img-corellia2 h1 {
    position: absolute;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-corellia2 h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-corellia2 img {
    border-radius: 7px;
    width: 58%;
}

  .img-corellia3 img {
      border-radius: 7px;
      width: 58%;
  }

  .img-corellia3 {
    position: relative;
    text-align: center;
  }
  
  .img-corellia3 h1 {
    position: absolute;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-corellia3 h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-corellia3 img {
      border-radius: 7px;
      width: 58%;
  }

  /* New Coruscant */

  .img-coruscant3 {
    position: relative;
    text-align: center;
  }
  
  .img-coruscant3 h1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 #383b48, 0 1px #383b48, 1px 0 #383b48, 0 -1px #383b48;
  }
  
  .img-coruscant3 h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-color: #383b48;
    -webkit-text-stroke-width: 0.5px; 
  }
  
  .img-coruscant3 img {
    border-radius: 7px;
    width: 58%;
  }
  

/* Coruscant image */

.img-coruscant {
    position: relative;
    text-align: center;
  }
  
  .img-coruscant h1 {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-coruscant h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-coruscant img {
      border-radius: 7px;
      width: 58%;
  }

  .img-coruscant2 {     /* Bold h3 */
    position: relative;
    text-align: center;
  }
  
  .img-coruscant2 h1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-coruscant2 h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-color: #333333;
    -webkit-text-stroke-width: 1px; 
  }
  
  .img-coruscant2 img {
      border-radius: 7px;
      width: 58%;
  }

  /* Lothal */

.img-lothal {
  position: relative;
  text-align: center;
}

.img-lothal h1 {
  position: absolute;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-color: #31405f;
  -webkit-text-stroke-width: 1px;
}

.img-lothal h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-color: #31405f;
  -webkit-text-stroke-width: 1px;
}

.img-lothal img {
    border-radius: 7px;
    width: 58%;
}

  /* Florrum Image (both black outlines) */

  .img-florrum {
    position: relative;
    text-align: center;
  }
  
  .img-florrum h1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-color: #2e2e2e;
    -webkit-text-stroke-width: 2px; 
  }
  
  .img-florrum h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-color: #2e2e2e;
    -webkit-text-stroke-width: 1.6px; 
  }
  
  .img-florrum img {
      border-radius: 7px;
      width: 58%;
  }

  /* No Region image */

.img-noregion {
  position: relative;
  text-align: center;
}

.img-noregion h1 {
  position: absolute;
  font-weight: 900;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-noregion img {
  border-radius: 7px;
  width: 58%;
}

.img-noregion-nobold img {
    border-radius: 7px;
    width: 58%;
}

.img-noregion-nobold {
  position: relative;
  text-align: center;
}

.img-noregion-nobold h1 {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-noregion-bold img {
  border-radius: 7px;
  width: 58%;
}

.img-noregion-bold {
position: relative;
text-align: center;
}

.img-noregion-bold h1 {
position: absolute;
top: 44%;
left: 50%;
transform: translate(-50%, -50%);
-webkit-text-stroke-color: #403F3F;
-webkit-text-stroke-width: 2px; 
}

.img-noregion2 {
  position: relative;
  text-align: center;
}

.img-noregion2 h1 {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-noregion2 img {
    border-radius: 7px;
    width: 58%;
}

/* Varkana */

.img-varkana {
  position: relative;
  text-align: center;
}

.img-varkana h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 #75735d, 0 1px #75735d, 1px 0 #75735d, 0 -1px #75735d;
}

.img-varkana h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 #75735d, 0 1px #75735d, 1px 0 #75735d, 0 -1px #75735d;
}

.img-varkana img {
  border-radius: 7px;
  width: 61%;
}

/* Jedha */

.img-jedha {
  position: relative;
  text-align: center;
}

.img-jedha h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 #aaaaa0, 0 1px #aaaaa0, 1px 0 #aaaaa0, 0 -1px #aaaaa0;
}

.img-jedha h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%); 
  /*text-shadow: -1px 0 #94927f, 0 1px #94927f, 1px 0 #94927f, 0 -1px #94927f;*/
  -webkit-text-stroke-color: #94927f;
  -webkit-text-stroke-width: 0.4px; 
}

.img-jedha img {
  border-radius: 7px;
  width: 61%;
}

/* Savareen Image */

.img-savareen {
  position: relative;
  text-align: center;
}

.img-savareen h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 #5b6169, 0 1px #5b6169, 1px 0 #5b6169, 0 -1px #5b6169;
}

.img-savareen h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-color: #6d747d;
  -webkit-text-stroke-width: 1px; 
}

.img-savareen img {
    border-radius: 7px;
    width: 58%;
}

/* Raxus Image */

.img-raxus {
  position: relative;
  text-align: center;
}

.img-raxus h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 #a37326, 0 1px #a37326, 1px 0 #a37326, 0 -1px #a37326;
}

.img-raxus h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-raxus img {
    border-radius: 7px;
    width: 58%;
}

/* Skako Minor image */

.img-skako {
  position: relative;
  text-align: center;
}

.img-skako h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCFCDC;
  /*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9,
  0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 
  0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2),
  0 5px 5px rgba(0,0,0,.25), 0 5px 5px rgba(0,0,0,.2), 
  0 5px 5px rgba(0,0,0,.15);*/
  text-shadow: -1px 0 #bfc48b, 0 1px #bfc48b, 1px 0 #bfc48b, 0 -1px #bfc48b;
}

.img-skako h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCFCDC;
  /*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9,
  0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 
  0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 
  0 5px 5px rgba(0,0,0,.15);*/
  text-shadow: -1px 0 #bfc48b, 0 1px #bfc48b, 1px 0 #bfc48b, 0 -1px #bfc48b;
}

.img-skako img {
  border-radius: 7px;
  width: 58%;
}

/* Aleen Image */

.img-aleen {
  position: relative;
  text-align: center;
}

.img-aleen h1{
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCFCDC;
  text-shadow: -1px 0 #7d7850, 0 1px #7d7850, 1px 0 #7d7850, 0 -1px #7d7850;
}

.img-aleen h3{
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ebe1c7;
  text-shadow: -1px 0 #7d7850, 0 1px #7d7850, 1px 0 #7d7850, 0 -1px #7d7850;
}

.img-aleen img {
  border-radius: 7px;
  width: 58%;
}

/* Batuu */

.img-aleen2 {
  position: relative;
  text-align: center;
}

.img-aleen2 h1{
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6E6A60;
  text-shadow: -1px 0 #2e2a24, 0 1px #2e2a24, 1px 0 #2e2a24, 0 -1px #2e2a24;
}

.img-aleen2 h3{
  font-family: brandon-grotesque, sans-serif;
  font-weight: 900;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #57534a;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: #2e2a24; 
}

.img-aleen2 img {
  border-radius: 7px;
  width: 58%;
}

/* Kashyyyk Image */

.img-kashyyyk {
  position: relative;
  text-align: center;
}

.img-kashyyyk h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-kashyyyk h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-kashyyyk img {
    border-radius: 7px;
    width: 58%;
}

/* Felucia Image */

.img-felucia {
  position: relative;
  text-align: center;
}

.img-felucia h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 #67a89f, 0 1px #67a89f, 1px 0 #67a89f, 0 -1px #67a89f;
}

.img-felucia h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-color: #67a89f;
  -webkit-text-stroke-width: 1px; 
}

.img-felucia img {
    border-radius: 7px;
    width: 58%;
}

/* Mandalore Image */

.img-mandalore {
  position: relative;
  text-align: center;
}

.img-mandalore h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 #454545, 0 1px #454545, 1px 0 #454545, 0 -1px #454545;
}

.img-mandalore h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-color: #454545;
  -webkit-text-stroke-width: 1px; 
}

.img-mandalore img {
    border-radius: 7px;
    width: 58%;
}

/* Polis Massa Image */

.img-polis {
  position: relative;
  text-align: center;
}

.img-polis h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 #15181c, 0 1px #15181c, 1px 0 #15181c, 0 -1px #15181c;
}

.img-polis h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 #15181c, 0 1px #15181c, 1px 0 #15181c, 0 -1px #15181c;
}

.img-polis img {
    border-radius: 7px;
    width: 58%;
}

/* Shantipole image */

.img-shantipole {
  position: relative;
  text-align: center;
}

.img-shantipole h1 {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-shantipole h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-shantipole img {
  border-radius: 7px;
  width: 60%;
}

.img-shantipole2 {
  position: relative;
  text-align: center;
}

.img-shantipole2 h1 {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 #454545, 0 1px #454545, 1px 0 #454545, 0 -1px #454545;
}

.img-shantipole2 h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-color: #454545;
  -webkit-text-stroke-width: 1px; 
}

.img-shantipole2 img {
  border-radius: 7px;
  width: 60%;
}


/* Wellspring of the Force image */

.img-wellspring {
  position: relative;
  text-align: center;
}

.img-wellspring h1 {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px; 
}

.img-wellspring h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px; 
}

.img-wellspring img {
    border-radius: 7px;
    width: 58%;
}

/* Drahgor III image */

.img-drahgor {
  position: relative;
  text-align: center;
}

.img-drahgor h1 {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-shadow: -1px 0 #42391b, 0 1px #42391b, 1px 0 #42391b, 0 -1px #42391b;
}

.img-drahgor h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-color: #5C4F29;
  -webkit-text-stroke-width: 1px; 
}

.img-drahgor img {
    border-radius: 7px;
    width: 58%;
}

/* Charcuterie Ornament manipulation */

#ornament {
    font-family: charcuterie-ornaments, sans-serif;
    font-weight: 370;
    font-size: 80%;
}

/* Moon Logos */

#moon img{
    display: block;
    width: 20px;
    height: 23px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

#moon2 img{
  display: block;
  width: 20px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

#moon-under2text img{
  display: block;
  width: 23px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

#moon-lit img {
    display: block;
    width: 27px;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* Clone Wars Battle Logo */

#cw-underimg img{
  display: block;
  width: 20px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

#cw-underimg2 img{
  display: block;
  width: 20px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#cw-flex-underimg img{
  display: block;
  width: 20px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

/* Galactic Civil War Battle Logo */

#gcw-underimg img{
  display: block;
  width: 23px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

#gcw-underimg2 img{
  display: block;
  width: 23px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#gcw-flex-underimg img{
  display: block;
  width: 23px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

#gcw-flex-undertext img {

  display: block;
  width: 23px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;

}

/* First Order v Resistance Battle Logo */

#fovr-underimg img{
  display: block;
  width: 21px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

#fovr-flex-underimg img{
  display: block;
  width: 21px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

/* Fantasy Flight Logo */

#ffg-logo img{
  display: block;
  width: 24px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}

#ffg-logo-underimg img{
  display: block;
  width: 24px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

#ffg-logo-undertext img{
  display: block;
  width: 24px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
}

#ffg-logo-notext img{
  display: block;
  width: 24px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

.collapsible {
  border: none;
}

#ffg-explanation {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


/* Comic Images */

#comic-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 50px;
  border-radius: 5px;
  width: 130px;
  height: 130px;
}

#comic-img2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 17px;
  border-radius: 5px;
  width: 140px;
  height: 130px;
}

#comic-img3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 3px;
  border-radius: 5px;
  width: 20%;
}

#comic-img2-nr img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 50px;
  border-radius: 5px;
  width: 140px;
  height: 130px;
}

#comic-img-moon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 130px;
  height: 130px;
}

#comic-img-nr img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 130px;
  height: 130px;
}

/* Continue to... */

#continue-to {
  position: relative;
  text-align: center;
  color: #DCE8F5;
  margin-bottom: 120px;
}

#continue-to img {
  border-radius: 7px;
  width: 24%;
}

#continue-to h3 > a {
  font-weight: 800;
  font-size: 25px;
  position: absolute;
  text-decoration: none;
  color: #DCE8F5;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 #081730, 0 1px #081730, 1px 0 #081730, 0 -1px #081730;

}

/* Footer */

footer {
  /*background-image: url("../images/misc/footer.png");*/
  display: flex;
  justify-content: center;
  margin: 0px;
  height: 68px;
  background-repeat: no-repeat;
}

footer img {
  width: 110%;
  height: 180%;
}












/* ------------------- Media Queries --------------------- */











/* Mobile Mode */

@media screen and (max-width: 529px) {

  nav img {
    margin-bottom: 10px;
    margin-right: 30px;
    width: 40%;
  }

/* Region Title */

  .region-title {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  
  .region-title img{
    width: 60%;
  }

/* Breaker */

.breaker > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-left: 0px;
  width: 8%;
}

/* Region Paragraphs */

.flex-introparas {
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-one {
  width: 180%;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-only-one {
  width: 20%;
}

#intropara-one p {
  text-align: justify;
  font-size: 85%;
}

#intropara-two {
  width: 180%;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-two p {
  text-align: justify;
  font-size: 85%;
}

/* KEY */

.full-key {
  display: none;
}

/* Img Before List */

.b4list > img {
  margin-top: 160px;
  width: 14%;
  height: 14%;
}

/* Alderaan image */

.img-alderaan h1 {
  width: 70%;
}

.img-alderaan img {
    border-radius: 0px;
    width: 170%;
}

/* Anaxes image */

.img-anaxes h1 {
    width: 70%;
  }
  
  .img-anaxes img {
      border-radius: 0px;
      width: 170%;
  }

/* Corellia image */

  
  .img-corellia h1 {
    width: 70%;
  }
  
  .img-corellia img {
    border-radius: 0px;
    width: 170%;
  }

  .img-corellia2 h1 {
    width: 70%;
  }
  
  .img-corellia2 img {
    border-radius: 0px;
    width: 170%;
}

  .img-corellia3 h1 {
    width: 70%;
  }

  .img-corellia3 img {
    border-radius: 0px;
    width: 170%;
  }

/* Coruscant image */
  
  .img-coruscant h1 {
    width: 70%;
  }
  
  .img-coruscant img {
      border-radius: 0px;
      width: 170%;
  }

/* New Coruscant */

.img-coruscant3 {
  width: 70%;
}

.img-coruscant3 img {
  border-radius: 0px;
  width: 170%;
}


/* Skako Minor image */

.img-skako h1 {
  width: 70%;
}

.img-skako img {
    border-radius: 0px;
    width: 170%;
}

/* Shantipole Image */

.img-shantipole h1 {
  width: 70%;
}

.img-shantipole img {
  border-radius: 0px;
  width: 170%;
}

.img-shantipole2 h1 {
  width: 70%;
}

.img-shantipole2 img {
  border-radius: 0px;
  width: 170%;
}

/* Wellspring of the Force image */

.img-wellspring h1 {
  width: 70%;
}

.img-wellspring img {
  border-radius: 0px;
  width: 170%;
}

/* Drahgor III image */

.img-drahgor h1 {
  width: 70%; 
}

.img-drahgor img {
    border-radius: 0px;
    width: 170%;
}

  /* No Region image */
  
  .img-noregion img {
      border-radius: 0px;
      width: 180%;
  }

  .img-noregion-nobold img {
    border-radius: 0px;
    width: 180%;
}

  .img-noregion2 img {
      border-radius: 0px;
      width: 180%;
  }

  .img-noregion-bold img {
    border-radius: 0px;
    width: 180%;
  }
  
  .img-noregion-bold h1 {
  width: 70%; 
  }

  /* Varkana */

.img-varkana h1 {
  width: 70%;
}

.img-varkana img {
  border-radius: 0px;
  width: 170%;
}

/* Jedha */

.img-jedha h1 {
  width: 70%;
}

.img-jedha img {
  border-radius: 0px;
  width: 170%;
}

/* Polis Massa */

.img-polis h1 {
  width: 70%;
}

.img-polis img {
  border-radius: 0px;
  width: 170%;
}

  /* Batuu */

.img-aleen2 img {
  border-radius: 0px;
    width: 180%;
}

/* Kashyyyk Image */

.img-kashyyyk img {
    border-radius: 0px;
    width: 180%;
}

/* Florrum Image (both black outlines) */

.img-florrum h1 {
  width: 70%;
}

.img-florrum img {
  border-radius: 0px;
  width: 180%;
}

/* Lothal */

.img-lothal h1 {
  width: 70%;
}

.img-lothal img {
  border-radius: 0px;
  width: 180%;
}

/* Mandalore Image */

.img-mandalore h1{
  width: 70%;
}

.img-mandalore img {
  border-radius: 0px;
  width: 180%;
}

/* Polis Massa Image */

.img-polis h1 {
  width: 70%;
}

.img-polis img {
  border-radius: 0px;
  width: 180%;
}

/* Felucia Image */

.img-felucia h1 {
 width: 70%;
}

.img-felucia img {
  border-radius: 0px;
  width: 180%;
}

/* Aleen Image */

.img-aleen img {
  border-radius: 0px;
  width: 180%;
}

/* Savareen Image */

.img-savareen h1 {
  width: 70%; 
}

.img-savareen img {
    border-radius: 0px;
    width: 180%;
}

/* Raxus Image */

.img-raxus h1 {
  width: 70%;
}

.img-raxus img {
  border-radius: 0px;
  width: 180%;
}

#comic-img3 img {
  width: 50%;
}

#continue-to img {
  border-radius: 0px;
  width: 130%;
}

footer img {
  width: 210%;
  height: 130%;
}

}



/*Mobile/Tablet Mode*/

@media screen and (min-width: 530px) and (max-width: 730px) {

  nav img {
    margin-bottom: 10px;
    margin-right: 30px;
    width: 30%;
  }

  /* Region Title */

  .region-title {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  
  .region-title img{
    width: 70%;
  }

  /* Breaker */

.breaker > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-left: 0px;
  width: 8%;
}

  /* Region Paragraphs */

.flex-introparas {
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-one {
  width: 180%;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-one p {
  text-align: justify;
  font-size: 90%;
}

#intropara-two {
  width: 180%;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-two p {
  text-align: justify;
  font-size: 90%;
}

/* KEY */

.full-key {
  display: none;
}

/* Img Before List */

.b4list > img {
  margin-top: 160px;
  width: 10%;
  height: 10%;
}

  /* Alderaan image */

.img-alderaan img {
    border-radius: 0px;
    width: 135%;
}

/* Anaxes image */
  
  .img-anaxes img {
      border-radius: 0px;
      width: 135%;
  }

/* Corellia image */
  
  .img-corellia img {
      border-radius: 0px;
      width: 135%;
  }

  .img-corellia2 img {
    border-radius: 0px;
    width: 135%;
}

  .img-corellia3 img {
    border-radius: 0px;
    width: 135%;
  }

/* Coruscant image */
  
  .img-coruscant img {
      border-radius: 0px;
      width: 135%;
  }

/* New Coruscant */

.img-coruscant3 img {
  border-radius: 0px;
  width: 135%;
}

/* Skako Minor image */

.img-skako img {
    border-radius: 0px;
    width: 135%;
}

 /* No Region image */

.img-noregion-nobold img {
  border-radius: 0px;
  width: 135%;
}

.img-noregion img {
    border-radius: 0px;
    width: 135%;
}

.img-noregion2 img {
    border-radius: 0px;
    width: 135%;
}

.img-noregion-bold img {
  border-radius: 0px;
  width: 135%;
}

 /* Varkana */

 .img-varkana img {
  border-radius: 0px;
  width: 135%;
}

/* Jedha */

.img-jedha img {
  border-radius: 0px;
  width: 135%;
}

/* Polis Massa */

.img-polis img {
  border-radius: 0px;
  width: 135%;
}

/* Batuu */

.img-aleen2 img {
  border-radius: 0px;
    width: 135%;
}

/* Kashyyyk Image */

.img-kashyyyk img {
  border-radius: 0px;
  width: 135%;
}

/* Florrum Image (both black outlines) */

.img-florrum img {
  border-radius: 0px;
  width: 135%;
}

/* Lothal */

.img-lothal img {
  border-radius: 0px;
  width: 135%;
}

/* Mandalore Image */

.img-mandalore img {
  border-radius: 0px;
  width: 135%;
}

/* Polis Massa Image */

.img-polis img {
  border-radius: 0px;
  width: 135%;
}

/* Felucia Image */

 .img-felucia img {
   border-radius: 0px;
   width: 135%;
 }

/* Aleen Image */

.img-aleen img {
  border-radius: 0px;
  width: 135%;
}

/* Shantipole Image */

.img-shantipole img {
  border-radius: 0px;
  width: 137%;
}

.img-shantipole2 img {
  border-radius: 0px;
  width: 137%;
}

/* Wellspring of the Force image */

.img-wellspring h1 {
  width: 70%;
}

.img-wellspring img {
  border-radius: 0px;
  width: 137%;
}

/* Drahgor III image */

.img-drahgor img {
  border-radius: 0px;
  width: 137%;
}

/* Savareen Image */

.img-savareen img {
    border-radius: 0px;
    width: 137%;
}

/* Raxus Image */

.img-raxus img {
  border-radius: 0px;
  width: 137%;
}

#comic-img3 img {
  width: 50%;
}

#continue-to img {
  border-radius: 5px;
  width: 60%;
}

footer img {
  width: 180%;
  height: 135%;
}

}



/* Tablet Mode */

@media screen and (min-width: 731px) and (max-width: 930px) {

  nav img {
    margin-bottom: 10px;
    margin-right: 30px;
    width: 25%;
  }

/* Region Title */

.region-title {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.region-title img{
  width: 60%;
}

/* Breaker */

.breaker > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  padding-left: 0px;
  width: 8%;
}

/* Region Paragraphs */

.flex-introparas {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-one {
  width: 180%;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-one p {
  text-align: justify;
  font-size: 100%;
}

#intropara-two {
  width: 180%;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-two p {
  text-align: justify;
  font-size: 100%;
}

/* KEY */

.full-key {
  display: none;
}

/* Img Before List */

.b4list > img {
  margin-top: 160px;
  width: 11%;
  height: 11%;
}

  /* Alderaan image */

.img-alderaan img {
    border-radius: 0px;
    width: 108%;
}

/* Anaxes image */
  
  .img-anaxes img {
      border-radius: 0px;
      width: 108%;
  }

/* Corellia image */
  
  .img-corellia img {
      border-radius: 0px;
      width: 108%;
  }

  .img-corellia2 img {
    border-radius: 0px;
    width: 108%;
}

  .img-corellia3 img {
    border-radius: 0px;
    width: 108%;
  }

/* Coruscant image */

  .img-coruscant img {
      border-radius: 0px;
      width: 108%;
  }

/* New Coruscant */

  .img-coruscant3 img {
    border-radius: 0px;
    width: 108%;
}

/* Skako Minor image */

.img-skako {
  position: relative;
  text-align: center;
}

.img-skako img {
    border-radius: 0px;
    width: 108%;
}

 /* No Region image */

 .img-noregion-nobold img {
  border-radius: 0px;
  width: 108%;
}

.img-noregion img {
    border-radius: 0px;
    width: 108%;
}

.img-noregion2 img {
    border-radius: 0px;
    width: 108%;
}

.img-noregion-bold img {
  border-radius: 0px;
  width: 108%;
}

/* Varkana */

.img-varkana img {
  border-radius: 0px;
  width: 108%;
}

/* Jedha */

.img-jedha img {
  border-radius: 0px;
  width: 108%;
}

/* Polis Massa */

.img-polis img {
  border-radius: 0px;
  width: 108%;
}

/* Batuu */

.img-aleen2 img {
  border-radius: 0px;
    width: 108%;
}

/* Kashyyyk Image */

.img-kashyyyk img {
  border-radius: 0px;
    width: 108%;
}

/* Florrum Image (both black outlines) */

.img-florrum img {
  border-radius: 0px;
    width: 108%;
}

/* Lothal */

.img-lothal img {
  border-radius: 0px;
    width: 108%;
}

/* Mandalore Image */

.img-mandalore img {
  border-radius: 0px;
    width: 108%;
}

/* Polis Massa Image */

.img-polis img {
  border-radius: 0px;
  width: 108%;
}

/* Felucia Image */

.img-felucia img {
  border-radius: 0px;
  width: 108%;
}

/* Aleen Image */

.img-aleen img {
  border-radius: 0px;
    width: 108%;
}

/* Shantipole Image */

.img-shantipole img {
  border-radius: 0px;
  width: 112%;
}

.img-shantipole2 img {
  border-radius: 0px;
  width: 112%;
}

/* Wellspring of the Force image */

.img-wellspring h1 {
  width: 70%;
}

.img-wellspring img {
  border-radius: 0px;
  width: 120%;
}

/* Drahgor III image */

.img-drahgor img {
  border-radius: 0px;
  width: 115%;
}

/* Savareen Image */

.img-savareen img {
  border-radius: 0px;
  width: 108%;
}

/* Raxus Image */

.img-raxus img {
  border-radius: 0px;
  width: 108%;
}

#comic-img3 img {
  width: 40%;
}

#continue-to img {
  border-radius: 5px;
  width: 45%;
}

footer img {
  width: 170%;
  height: 150%;
}

}



/* Tablet/Almost-Desktop Mode */

@media screen and (min-width: 931px) and (max-width: 1240px) {

  nav img {
    margin-bottom: 10px;
    margin-right: 30px;
    width: 18%;
  } 

  /* Breaker */

.breaker > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  padding-left: 0px;
  width: 5%;
}

/* Region Paragraphs */

.flex-introparas {
  display: flex;
  justify-content: center;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-one {
  width: 180%;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-one p {
  text-align: justify;
  font-size: 100%;
}

#intropara-two {
  width: 180%;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intropara-two p {
  text-align: justify;
  font-size: 100%;
}
    
/* KEY */

.full-key {
  display: none;
}

/* Img Before List */

.b4list > img {
  margin-top: 160px;
  width: 8%;
  height: 8%;
}
  
/* Alderaan image */

.img-alderaan img {
    border-radius: 7px;
    width: 80%;
}

/* Anaxes image */

.img-anaxes {
    position: relative;
    text-align: center;
  }
  
  .img-anaxes img {
      border-radius: 7px;
      width: 80%;
  }

/* Corellia image */

.img-corellia {
    position: relative;
    text-align: center;
  }
  
  .img-corellia img {
      border-radius: 7px;
      width: 80%;
  }

  .img-corellia2 img {
      border-radius: 7px;
      width: 80%;
}

  .img-corellia3 img {
      border-radius: 7px;
      width: 80%;
  }

/* Coruscant image */

  .img-coruscant img {
      border-radius: 7px;
      width: 80%;
  }

/* New Coruscant */

.img-coruscant3 img {
  border-radius: 7px;
  width: 80%;
}

/* Skako Minor image */

.img-skako img {
    border-radius: 7px;
    width: 80%;
}

 /* No Region image */

 .img-noregion-nobold img {
  border-radius: 7px;
    width: 80%;
}

.img-noregion img {
  border-radius: 7px;
  width: 80%;
}

.img-noregion2 img {
  border-radius: 7px;
  width: 80%;
}

.img-noregion-bold img {
  border-radius: 7px;
  width: 80%;
}

/* Varkana */

.img-varkana img {
  border-radius: 7px;
  width: 80%;
}

/* Jedha */

.img-jedha img {
  border-radius: 7px;
  width: 80%;
}

/* Polis Massa */

.img-polis img {
  border-radius: 7px;
  width: 80%;
}

/* Batuu */

.img-aleen2 img {
  border-radius: 7px;
  width: 80%;
}

/* Kashyyyk Image */

.img-kashyyyk img {
  border-radius: 7px;
  width: 80%;
}

/* Florrum Image (both black outlines) */

.img-florrum img {
  border-radius: 7px;
  width: 80%;
}

/* Lothal */

.img-lothal img {
  border-radius: 7px;
  width: 80%;
}

/* Mandalore Image */

.img-mandalore img {
  border-radius: 7px;
  width: 80%;
}

/* Polis Massa Image */

.img-polis img {
  border-radius: 0px;
  width: 80%;
}

/* Felucia Image */

.img-felucia img {
  border-radius: 7px;
  width: 80%;
}

/* Savareen Image */

.img-savareen img {
  border-radius: 7px;
  width: 80%;
}

/* Raxus Image */

.img-raxus img {
  border-radius: 7px;
  width: 80%;
}

/* Aleen Image */

.img-aleen img {
  border-radius: 7px;
  width: 80%;
}

/* Shantipole Image */

.img-shantipole img {
  border-radius: 7px;
  width: 87%;
}

.img-shantipole2 img {
  border-radius: 7px;
  width: 87%;
}

/* Wellspring of the Force image */

.img-wellspring h1 {
  width: 70%;
}

.img-wellspring img {
  border-radius: 7px;
  width: 87%;
}

/* Drahgor III image */

.img-drahgor img {
  border-radius: 7px;
  width: 92%;
}

#comic-img3 img {
  width: 30%;
}

#continue-to img {
  border-radius: 5px;
  width: 34%;
}

footer img {
  width: 150%;
  height: 130%;
}

}
