
body {
  margin: 0px;
}

/* List of worlds */

.list-worlds {
    display: block;
    color: #222A36
}

.list-worlds div {
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

#list-worlds-lit {
  margin-bottom: 45px;
}

#list-worlds-last {
  margin-bottom: 170px;
}

.list-worlds h1 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 600;
    font-size: 45px;
    margin: 3px;
    text-align: center;
}

.list-worlds h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 770;
    font-size: 17px;
    margin: 0px;
    text-align: center;
}

/* Paragraphs within List of Worlds */

.world-paragraph {
    display: flex;
    justify-content: center;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-weight: 359;
    font-size: 15px;
    margin: 0px;
    margin-top: 3.5px;
}

.world-paragraph p {
    text-align: justify;
    margin-bottom: 0px;
}

#first-paragraph {
    width: 120px;
    margin: 0px;
    margin-right: 10px;
}

#first-paragraph-2 {
    width: 140px;
    margin: 0px;
    margin-right: 10px;
}

#first-paragraph-3 {
    width: 130px;
    margin: 0px;
    margin-right: 10px;
}

#second-paragraph {
    margin: 0px;
    width: 120px;
    margin-left: 10px;
}

#second-paragraph-2 {
    margin: 0px;
    width: 140px;
    margin-left: 10px;
}

#only-paragraph {
  width: 140px;
  margin: 0px;
}

#only-paragraph-2 {
  width: 120px;
  margin: 0px;
}

#only-paragraph-3 {
  width: 150px;
  margin: 0px;
}

#second-paragraph-3 {
    width: 130px;
    margin: 0px;
    margin-left: 10px;
}

#source {
   line-height: 1.5;
}

#source p {
  margin-top: 8px;
  font-size: 10px;
  font-family: futura-pt, sans-serif;
  font-weight: 150;
}

/* Lit Logo */

#lit-logo p{
    font-family: charcuterie-ornaments, sans-serif;
    font-weight: 370;
    font-size: 23px;
    margin-top: 3px;
    margin-bottom: 0px;
    text-align: center;
}

/* Alderaan image */

.img-alderaan {
  position: relative;
  text-align: center;
}

.img-alderaan h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-alderaan h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-alderaan img {
    border-radius: 7px;
    width: 58%;
}

/* Anaxes image */

.img-anaxes {
    position: relative;
    text-align: center;
  }

.img-anaxes h1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-anaxes h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-anaxes img {
      border-radius: 7px;
      width: 58%;
  }

/* Corellia image */

.img-corellia {
    position: relative;
    text-align: center;
  }
  
  .img-corellia h1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-corellia h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-corellia img {
      border-radius: 7px;
      width: 58%;
  }

/* Coruscant image */

.img-coruscant {
    position: relative;
    text-align: center;
  }
  
  .img-coruscant h1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-coruscant h3 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-coruscant img {
      border-radius: 7px;
      width: 58%;
  }

/* Skako Minor image */

.img-skako {
  position: relative;
  text-align: center;
}

.img-skako h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCFCDC;
}

.img-skako h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCFCDC;
}

.img-skako img {
    border-radius: 7px;
    width: 58%;
}

/* Charcuterie Ornament manipulation */

#ornament {
    font-family: charcuterie-ornaments, sans-serif;
    font-weight: 370;
    font-size: 80%;
}

/* Moon Logos */

#moon img{
    display: block;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

#moon-lit img {
   display: block;
    width: 62px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

/* Footer */

footer {
  background-image: url("../images/misc/footer.png");
  margin: 0px;
  height: 181px;
  background-repeat: no-repeat;
}
